<mat-nav-list>
  <div class="logo">
    <img src="assets/img/logo.png" alt="company Logo"/>
  </div>
  <mat-divider></mat-divider>
  <div class="tong">
    <a class="dashboard chung" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
      <div class="sideItem">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/user" routerLinkActive="list-item-active">
      <div class="sideItem">
        <mat-icon>person</mat-icon>
        <span>Quản lý người dùng</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/role" routerLinkActive="list-item-active">
      <div class="sideItem">
      <mat-icon>security</mat-icon>
      <span>Quản lý vai trò</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/product" routerLinkActive="list-item-active">
      <div class="sideItem">
      <mat-icon>inventory_2</mat-icon>
      <span>Quản lý Sản phẩm</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/order" routerLinkActive="list-item-active">
      <div class="sideItem">
      <mat-icon>shopping_bag</mat-icon>
     <span> Quản lý Đơn đặt hàng</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/category" routerLinkActive="list-item-active">
      <div class="sideItem">
      <mat-icon>category</mat-icon>
      <span>Quản lý loại sản phẩm</span>
      </div>
    </a>
    <a class="dashboard chung" mat-list-item routerLink="/size" routerLinkActive="list-item-active">
      <div class="sideItem">
      <mat-icon>zoom_in</mat-icon>
      <span>Quản lý kích thước giày</span>
      </div>
    </a>
  </div>
</mat-nav-list>
