<form (ngSubmit)="save()">
  <div class="flex items-center" mat-dialog-title>
    <div class="title">
      <h2 *ngIf="mode==='update'" class="headline m-0 flex-auto" translate>Sửa thông tin loại sản phẩm</h2>
      <h2 *ngIf="mode!=='update'" class="headline m-0 flex-auto" translate>Thêm mới loại sản phẩm</h2>
    </div>
    <div class="close">
      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field  class="example-full-width">
        <mat-label>Tên loại sản phẩm</mat-label>
        <input (blur)="trimData('name', $any($event.target).value)" formControlName="name" name="name" value="{{defaults.name}}"  matInput required
               type="text">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field  class="example-full-width">
        <mat-label>Mô tả loại sản phẩm</mat-label>
        <input (blur)="trimData('description', $any($event.target).value)" value="{{defaults.description}}" matInput required
               type="text">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button" style="text-align: center">Hủy</button>
    <button *ngIf="isCreateCategory()" style="background-color: #44dc8c" mat-flat-button type="submit">Thêm loại sản phẩm</button>
    <button *ngIf= "isUpdateCategory()" style="background-color: #44dc8c" color="accent" mat-flat-button type="submit">Lưu</button>
  </mat-dialog-actions>
</form>
